<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>


<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>SALARY</th>
        <th>DEPARTMENT</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
        <th>OPERATIONS</th>
    </tr>

    <tr th:each="user, state : ${users}">
        <td th:utext="${user.getId()}">..</td>
        <td th:utext="${user.getName()}">..</td>
        <td th:utext="${user.getSurname()}">..</td>
        <td th:utext="${user.getSalary()}">..</td>
        <td th:utext="${user.getDepartment()}">..</td>
        <td th:utext="${user.getEmail()}">..</td>
        <td th:utext="${user.getPassword()}">..</td>
        <td th:utext="${user.getRoles()}">..</td>
        <td>
            <form th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="UPDATE"/>
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tr>


</table>

<br>
<hr>

<form th:action="@{/admin/new}">
    <input type="submit" value="CREATE NEW"/>
</form>
<br>
<form th:action="@{/user}">
    <input type="submit" value="MY INFO PAGE"/>
</form>
<br>
<form th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>


</body>
</html>